body{
	text-align: center;
	font-family:'nunito sans' sans-serif;
	background-image: url(https://www.shutterstock.com/image-vector/airplane-cloud-blue-passport-luggage-600nw-2305845281.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
span{
	color:red;
}
.form{
	color:red;
	text-align:center;
	box-shadow: rgba(100,0,0,100) 15px 15px 20px 10px;
	border: 5px solid orangered;
	padding:5px;
}
.form span{
	color:blue;
}
#color{
	color:white;
		background:linear-gradient(black,purple);
	padding: 5px;
	width:80px;
	height:30px;

}
input[type="text"]{
	width:250px;
	height:30px;
	font-size: 14px;
	border:3px solid red;
	border-radius:10px;
	padding:5px;
	box-shadow: rgba(200,0,0.6) 0px 15px 10px 0px;
	margin-top:20px;
	
}
input[type="email"]{
	width:250px;
	height:30px;
	font-size: 14px;
	border:3px solid forestgreen;
	border-radius:10px;
	padding:5px;
	box-shadow: rgba(0,200,0,0.6) 0px 15px 10px 0px;
	margin-top:20px;
	
}
input[type="password"]{
	width:250px;
	height:30px;
	font-size: 14px;
	border:3px solid deepskyblue;
	border-radius:10px;
	padding:5px;
	box-shadow: rgba(0,0,200,0.6) 0px 15px 10px 0px;
	margin-top:20px;
	
}
input[type="date"]{
	width:250px;
	height:30px;
	font-size: 14px;
	border:3px solid midnightblue;
	border-radius:10px;
	padding:5px;
	box-shadow: rgba(190,100,10,0.6) 0px 15px 10px 0px;
	margin-top:20px;
}

select{
	width:260px;
	height:35px;
	font-weight: 500;
	border:3px solid navy;
	box-shadow: rgba(0,200,200,0.6) 0px 15px 10px 5px;
}
